*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/*MAIN*/
main{
    margin: 0;
    display: flex;
    background-color: green;
}


/*ASIDE*/
.side-bar{
    background-color: orange;
    width: 20vw;
    height: calc(100vh - 81px);
}


/*MAIN-CONTAINER*/
.main-container{
    flex-grow: 1;
}




/*FOOTER*/
footer{
    height: 81px;
    width: 100%;
    background-color: red;
    position: fixed;
    bottom: 0;
}