*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/*MAIN*/
main{
    margin: 0;
    height: calc(100vh - 81px);
    display: flex;
}


/*ASIDE*/
.side-bar{
    position: relative;
    flex-shrink: 0;
    background-color: black;
    width: 230px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(255, 255, 255, 0.5);
}


.side-bar li:hover{
    color: white;
}

.side-bar .logo{
    width: 100px;
    padding-bottom: 20px;
    color: white;
}

.side-bar .fa-home{
    padding-left: 11px;
    margin-left: -14px;
    padding-left: 10px;
    border-left: 2px solid lime;
}

.side-bar ul{
    list-style: none;
}

.side-bar li{
    font-size: 13px;
}

.aside-list li{
    padding-bottom: 10px;
}

.side-bar li:last-child{
    padding-bottom: 20px;
}

.side-bar i{
    vertical-align: middle;
    font-size: 20px;
    padding-right: 10px;
}

.side-bar h4{
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
}

.side-bar .fa-plus-square{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
}

.side-bar li:first-child::after{
    height: 1px;
    width: 100%;
    background-color: grey;
}

.aside-list .overflow{
    overflow-y: auto;
}

.aside-footer li:first-child{
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.aside-footer .far{
    font-size: 14px;
}

.aside-footer li:last-child{
    padding-bottom: 0;
}




/*MAIN-CONTAINER*/
main{
    height: calc(100vh - 81px);
}

.main-container{
    overflow-y: scroll;
    background-color: #141922;
    height: 100%;
    width: calc(100% - 230px)
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.3);
    height: 90px;
    width: 100%;
    position: fixed;
}

.upgrade-button{
    border: 1px solid white;
    border-radius: 999px;
    color: white;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 30px;
}

.upgrade-button:hover{
    animation: 3s;
    transform: scale(1.1);
}

.upgrade-button a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 30px;
}

.categories li{
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: 0;

    text-transform: uppercase;
    font-size: 14px;
}

.categories li:hover{
    color: white;
}


.evidence{
    height: 2px;
    width: 30px;
    background-color: lime;
}

.main-body{
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
}

.main-body h3:first-child{
    padding-bottom: 20px;
}

.main-body h3{
    padding-bottom: 10px;
    font-size: 23px;
}

.title-description{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
}

.played{
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.song-img{
    text-align: center;
    margin: 0;
    width: calc((100% / 6) - 15px);
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-header img{
    position: relative;
    width: 100%;
    display: block;
}

.card-header i{
    position: absolute;
    font-size: 4vmin;
    z-index: 1;
}

.card-header::after{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.play-hover:hover{
    display: block;
    z-index: 1;
}

.song-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-radius img{
    border-radius: 999;
}

.song-img h6{
    font-size: 16px;
}

.song-img p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}






/*FOOTER*/
footer{
    height: 81px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    margin: 0;
    font-size: 11px;
}

.song{
    max-width: 230px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
}

.song img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    margin-left: 15px;
    margin-right: 15px;
}

.song .song-name{
    padding-right: 40px;
}

.song-name h3{
    color: white;
}

.song i{
    font-size: 15px;
}

.song .fa-heart{
    padding-right: 15px;
}


footer .time-bar{
    width: 100%;
    max-width: 400px;
    margin: 0 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-header{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.time-header i{
    font-size: 19x;
    color: white;
}

.time-header div i{
    padding: 0 10px;
}

.play{
    font-size: 25px;
}

.time-header .fa-play-circle{
    transform: rotate3d(0, 1, 0, 360deg);
}

.time-header .fa-step-backward{
    transform: rotate3d(0, 1, 0);
}

.time-header .fa-undo{
    transform: rotate3d(0, 1, 0, 3.142rad);
}

.time-footer{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.time-footer .time-bar{
    position: relative;
    height: 5px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.time-bar .white-bar{
    background-color: white;
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0;
}

.volume-audio{
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    color: white;
}

.volume-audio .time-bar{
    width: 100%;
    max-width: 100px;
    height: 5px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.volume-audio .white-bar{
    background-color: white;
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0;
}

@media screen and (max-width: 878px) {
    .song-img{
        width: calc((100% / 4) - 15px);
    }
}

@media screen and (max-width: 639px) {
    .song-img{
        width: calc((100% / 2) - 15px);
    }
    
    .song i{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 552px) {
    .main-container{
        width: auto;
    }
    
    .sidebar-body{
        display: none;
    }

    .side-bar{
        width: auto;
    }
}



