*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
}


/*ASIDE*/
aside{
    background-color: orange;
    width: 20vw;
    position: fixed;
    height: 100%;
}

/*MAIN*/
main{
    height: 90vh;
    background-color: green;
    width: 100%;
    display: flex;
}



/*FOOTER*/
footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: red;
}